In [135]:
import json
import requests
import pandas as pd
import io


def connect_ss(UID=None, PWD=None, DSN="wdcsqlaw02"):
    """Connect to SQL Server and return a connection"""
    conn = pyodbc.connect(DSN=DSN, UID=creds["uid"], PWD=creds["pwd"]) #works on putty and EoD
    print("Connected SQL Server")
    return conn

with open("../creds.json", 'r') as f:
    creds = json.load(f)
    
#https://raw.githubusercontent.com/cfpb/hmda-platform/master/model/jvm/src/main/resources/tract_to_cbsa_2015.txt
#https://raw.githubusercontent.com/cfpb/hmda-platform/master/census/src/main/resources/state.csv

In [143]:
state_data_url = 'https://raw.githubusercontent.com/cfpb/hmda-platform/master/census/src/main/resources/state.csv'
state_data = requests.get(state_data_url).content
state_codes = pd.read_csv(io.StringIO(state_data.decode('utf-8')),sep="|", dtype=object)
state_codes.head()

  STATE STUSAB  STATE_NAME   STATENS
0    01     AL     Alabama  01779775
1    02     AK      Alaska  01785533
2    04     AZ     Arizona  01779777
3    05     AR    Arkansas  00068085
4    06     CA  California  01779778

In [153]:
cbsa_url = 'https://raw.githubusercontent.com/cfpb/hmda-platform/master/model/jvm/src/main/resources/tract_to_cbsa_2015.txt'
cbsa_data = requests.get(cbsa_url).content
use_cols = ['state','countyFips', 'geoIdMsa', 'metDivFp', 'tracts']
cbsa_cols = ['name', 'metDivName', 'state', 'countyFips', 'county', 'tracts','geoIdMsa', 'metDivFp', 'smallCounty', 
             'stateCode', 'tractDecimal']
cbsa_df = pd.read_csv(io.StringIO(cbsa_data.decode('utf-8')),sep="|", usecols=use_cols, 
                      header=None, names=cbsa_cols,dtype=object)
cbsa_df.head()

  state countyFips  tracts geoIdMsa metDivFp
0    06      06037  535501    31080    31084
1    41      41005  022208    38900      NaN
2    04      04013  610900    38060      NaN
3    42      42017  103400    37980    33874
4    37      37183  054403    39580      NaN

In [9]:
#load HMDA LAR data from test file
lar_data = pd.read_csv("data/hmda_data_state_01.txt", sep="|", dtype=object)
lar_data.head()

,MSA_MD,State_Code,County_Code,Census_Tract_Number,Area_Population,Minority_Population_pct,FFIEC_Median_Family_Income,Tract_to_MSA_MD_Income,Num_of_Owner_occupied_units,Num_of_1_to_4_Family_units,fips
0,33860,01,001,0201.00,00001912,016.27,00060400,132.09,00000598,00000751,01001020100
1,33860,01,001,0203.00,00003373,024.76,00060400,091.74,00000957,00001349,01001020300
2,33860,01,001,0208.02,00010435,017.12,00060400,118.13,00003113,00003865,01001020802
3,33860,01,001,0205.00,00010766,021.62,00060400,137.89,00002406,00003295,01001020500
4,33860,01,001,0207.00,00002891,020.65,00060400,072.34,00000710,00001246,01001020700

In [104]:
#Census SF1 data fields for population.
#SF1 2010 variable list: https://api.census.gov/data/2010/sf1/variables.html
#ACS 1 variable list: https://api.census.gov/data/2015/acs/acs1/variables.html
#ACS 5 variable list: https://api.census.gov/data/2015/acs/acs5/variables.html
#P009001 is total by geography (tract)
#P009002 Hispanic or Latino population
#P009005 Not Hispanic or Latino: Population of one race: White alone
#P009006 Not Hispanic or Latino: Population of one race: Black or African American alone
#P009007 Not Hispanic or Latino: Population of one race: American Indian and Alaska Native alone
#P009008 Not Hispanic or Latino: Population of one race: Asian alone
#P009009 Not Hispanic or Latino: Population of one race: Native Hawaiian and Other Pacific Islander alone
#P009010 Not Hispanic or Latino: Population of one race: Some Other Race alone
#P009011 Not Hispanic or Latino: Population of one race: Two or More Races:
sf2010_data_fields = ['P0090001','P0090005']


#sf2010_url = 'https://api.census.gov/data/2010/sf1?get=P0090001,P0090002,P0090005,P0090006,P0090007,P0090008,P0090009,P0090010,P0090011&for=tract:*&in=state:02'

#build SF1 2010 URL
sf2010_url = 'https://api.census.gov/data/2010/sf1?get='
first = True
for field in sf2010_data_fields:
    if first:
        sf2010_url = sf2010_url +field #add firest field and no comma
        first=False
    else:
        sf2010_url = sf2010_url + ","+field #add fields from list
sf2010_url = sf2010_url + "&for=tract:*&in=state:01"
print(sf2010_url)
sf2010_data = requests.get(sf2010_url)
sf2010_df = pd.DataFrame(json.loads(sf2010_data.content))
sf2010_df.drop([0], inplace=True)
sf2010_pop_cols = ["total", "white_only", "state", "county", "tract"]

sf2010_df.columns = sf2010_pop_cols
sf2010_df['fips'] = sf2010_df.apply(lambda x: x.state + x.county + x.tract, axis=1)
#sf2010_df['min_pct'] = sf2010_df.apply(lambda x: (int(x).total - int(x.white_only))/int(x.total), axis=1)
def min_pct(row):
    """Divides minority population by total to get percent if total populatin is >0"""
    if row['total'] > 0:
        row['min_pct'] = round((row['min_pop'] / row['total'] * 100),2)
    else:
        row['min_pct'] = 0
    return row['min_pct']

for col in sf2010_pop_cols[:-3]:
    sf2010_df[col] = sf2010_df[col].map(lambda x: int(x))
sf2010_df['min_pop'] = sf2010_df.apply(lambda x: x.total-x.white_only, axis=1)
sf2010_df['min_pct'] = sf2010_df.apply(lambda x: min_pct(x), axis=1)
sf2010_df.head(10)

https://api.census.gov/data/2010/sf1?get=P0090001,P0090005&for=tract:*&in=state:01

    total  white_only state county   tract         fips  min_pop  min_pct
1    1912        1601    01    001  020100  01001020100      311    16.27
2    2170         844    01    001  020200  01001020200     1326    61.11
3    3373        2538    01    001  020300  01001020300      835    24.76
4    4386        4030    01    001  020400  01001020400      356     8.12
5   10766        8438    01    001  020500  01001020500     2328    21.62
6    3668        2672    01    001  020600  01001020600      996    27.15
7    2891        2294    01    001  020700  01001020700      597    20.65
8    3081        2660    01    001  020801  01001020801      421    13.66
9   10435        8649    01    001  020802  01001020802     1786    17.12
10   5675        4786    01    001  020900  01001020900      889    15.67

In [101]:
lar_data.head(20)

,MSA_MD,State_Code,County_Code,Census_Tract_Number,Area_Population,Minority_Population_pct,FFIEC_Median_Family_Income,Tract_to_MSA_MD_Income,Num_of_Owner_occupied_units,Num_of_1_to_4_Family_units,fips
0,33860,01,001,0201.00,00001912,016.27,00060400,132.09,00000598,00000751,01001020100
1,33860,01,001,0203.00,00003373,024.76,00060400,091.74,00000957,00001349,01001020300
2,33860,01,001,0208.02,00010435,017.12,00060400,118.13,00003113,00003865,01001020802
3,33860,01,001,0205.00,00010766,021.62,00060400,137.89,00002406,00003295,01001020500
4,33860,01,001,0207.00,00002891,020.65,00060400,072.34,00000710,00001246,01001020700
5,33860,01,001,0210.00,00002894,023.70,00060400,093.88,00000931,00001281,01001021000
6,33860,01,001,0209.00,00005675,015.67,00060400,098.60,00001676,00002210,01001020900
7,33860,01,001,0202.00,00002170,061.11,00060400,084.60,00000439,00000816,01001020200
8,33860,01,001,0211.00,00003320,056.81,00060400,089.80,00001016,00001482,01001021100
9,33860,01,001,0204.00,00004386,008.12,00060400,115.73,00001549,00001906,01001020400
10,33860,01,001,0206.00,00003668,027.15,00060400,093.81,00001032,00001438,01001020600
11,33860,01,001,0208.01,00003081,013.66,00060400,163.72,00000858,00001046,01001020801
12,19300,01,003,0104.00,00004736,009.10,00061100,094.63,00001527,00002052,01003010400
13,19300,01,003,0115.01,00005316,017.14,00061100,081.88,00001156,00002046,01003011501
14,19300,01,003,0107.03,00013166,013.71,00061100,136.13,00003603,00004424,01003010703
15,19300,01,003,0110.00,00004305,017.75,00061100,078.99,00001297,00001996,01003011000
16,19300,01,003,0115.02,00010534,031.59,00061100,082.94,00002158,00003879,01003011502
17,19300,01,003,0112.01,00004230,006.29,00061100,119.61,00001326,00002074,01003011201
18,19300,01,003,0107.01,00007882,007.49,00061100,158.89,00003100,00003751,01003010701
19,19300,01,003,0107.04,00005055,012.54,00061100,134.24,00001781,00002169,01003010704

In [125]:
#ACS5 data fields
#B19013_001E median family income (MFI)
#B25032_002E number of owner occupied units
#B25024_001E: Estimate Total (not used)
#B25024_002E: Estimate Total 1, detached
#B25024_003E: Estimate Total 1, attached
#B25024_004E: Estimate Total 2
#B25024_005E: Estimate Total 3 or 4
#B25024_010E Estimate Total Renter occupied Mobile home
#B25024_011E: Estimate Total Renter occupied Boat, RV, van, etc.
#B25035_001E: Median Housing Age
acs5_fields = ['B19013_001E','B25032_002E','B25024_002E','B25024_003E','B25024_004E','B25024_005E','B25024_010E',
               'B25024_011E','B25035_001E']
#acs5_url = "https://api.census.gov/data/2010/acs5?get=B19013_001E,B25032_002E,B25024_002E,B25024_003E,B25024_004E,B25024_005E,B25024_010E,B25024_011E,B25035_001E&for=tract:*&in=state:01"
first = True
acs5_url = "https://api.census.gov/data/2010/acs5?get="
for col in acs5_fields:
    if first:
        acs5_url = acs5_url + col
        first = False
    else:
        acs5_url = acs5_url + "," + col
acs5_url = acs5_url + "&for=tract:*&in=state:01"
print(acs5_url)
acs5_tract = requests.get(acs5_url)
acs5_tract
acs5_df = pd.DataFrame(json.loads(acs5_tract.content))
acs5_df.drop([0], inplace=True)
acs5_cols = ["mfi", "onwer_occ", "attached", "detached", "2_units", "3_or_4_units", "mobile", "boat_van",
             "median_yr_built", "state", "county", "tract"]
acs5_df.columns = acs5_cols
acs5_int_cols = ["mfi", "onwer_occ", "attached", "detached", "2_units", "3_or_4_units", "mobile", "boat_van",
             "median_yr_built"]
acs5_df['mfi'].fillna(0, inplace=True)
acs5_df['median_yr_built'].fillna(0, inplace=True)
for col in acs5_int_cols:
    acs5_df[col] = acs5_df[col].map(lambda x: int(x))
acs5_df['total_1_to_4'] = acs5_df.apply(lambda x: x.attached + x.detached + x['2_units'] + x['3_or_4_units']
                                       + x.mobile + x.boat_van, axis=1)
acs5_df.drop(["attached", "detached", "2_units", "3_or_4_units", "mobile", "boat_van"], inplace=True, axis=1)
acs5_df.head()

https://api.census.gov/data/2010/acs5?get=B19013_001E,B25032_002E,B25024_002E,B25024_003E,B25024_004E,B25024_005E,B25024_010E,B25024_011E,B25035_001E&for=tract:*&in=state:01

     mfi  onwer_occ  median_yr_built state county   tract  total_1_to_4
1  70222        598             1976    01    001  020100           751
2  41091        439             1976    01    001  020200           816
3  44031        957             1976    01    001  020300          1349
4  56627       1549             1969    01    001  020400          1906
5  68317       2406             1997    01    001  020500          3295

In [119]:
lar_data

,MSA_MD,State_Code,County_Code,Census_Tract_Number,Area_Population,Minority_Population_pct,FFIEC_Median_Family_Income,Tract_to_MSA_MD_Income,Num_of_Owner_occupied_units,Num_of_1_to_4_Family_units,fips
0,33860,01,001,0201.00,00001912,016.27,00060400,132.09,00000598,00000751,01001020100
1,33860,01,001,0203.00,00003373,024.76,00060400,091.74,00000957,00001349,01001020300
2,33860,01,001,0208.02,00010435,017.12,00060400,118.13,00003113,00003865,01001020802
3,33860,01,001,0205.00,00010766,021.62,00060400,137.89,00002406,00003295,01001020500
4,33860,01,001,0207.00,00002891,020.65,00060400,072.34,00000710,00001246,01001020700
5,33860,01,001,0210.00,00002894,023.70,00060400,093.88,00000931,00001281,01001021000
6,33860,01,001,0209.00,00005675,015.67,00060400,098.60,00001676,00002210,01001020900
7,33860,01,001,0202.00,00002170,061.11,00060400,084.60,00000439,00000816,01001020200
8,33860,01,001,0211.00,00003320,056.81,00060400,089.80,00001016,00001482,01001021100
9,33860,01,001,0204.00,00004386,008.12,00060400,115.73,00001549,00001906,01001020400
10,33860,01,001,0206.00,00003668,027.15,00060400,093.81,00001032,00001438,01001020600
11,33860,01,001,0208.01,00003081,013.66,00060400,163.72,00000858,00001046,01001020801
12,19300,01,003,0104.00,00004736,009.10,00061100,094.63,00001527,00002052,01003010400
13,19300,01,003,0115.01,00005316,017.14,00061100,081.88,00001156,00002046,01003011501
14,19300,01,003,0107.03,00013166,013.71,00061100,136.13,00003603,00004424,01003010703
15,19300,01,003,0110.00,00004305,017.75,00061100,078.99,00001297,00001996,01003011000
16,19300,01,003,0115.02,00010534,031.59,00061100,082.94,00002158,00003879,01003011502
17,19300,01,003,0112.01,00004230,006.29,00061100,119.61,00001326,00002074,01003011201
18,19300,01,003,0107.01,00007882,007.49,00061100,158.89,00003100,00003751,01003010701
19,19300,01,003,0107.04,00005055,012.54,00061100,134.24,00001781,00002169,01003010704
20,19300,01,003,0111.01,00008397,010.75,00061100,120.18,00002833,00003787,01003011101
21,19300,01,003,0112.02,00005065,025.80,00061100,100.74,00001573,00002567,01003011202
22,19300,01,003,0116.02,00004895,006.74,00061100,084.13,00002345,00003495,01003011602
23,19300,01,003,0102.00,00002902,015.54,00061100,075.60,00000928,00001182,01003010200
24,19300,01,003,0103.00,00007826,022.85,00061100,117.37,00002289,00003117,01003010300
25,19300,01,003,0106.00,00003325,061.26,00061100,060.11,00000688,00001359,01003010600
26,19300,01,003,0109.05,00008011,016.60,00061100,081.13,00001689,00002767,01003010905
27,19300,01,003,0109.04,00006831,008.24,00061100,081.12,00002071,00002921,01003010904
28,19300,01,003,0107.05,00008331,019.82,00061100,108.40,00002231,00003096,01003010705
29,19300,01,003,0109.03,00005173,023.60,00061100,083.99,00001337,00001998,01003010903
...,...,...,...,...,...,...,...,...,...,...,...
1145,13820,01,127,0214.00,00003691,011.57,00062500,098.35,00001088,00001580,01127021400
1146,13820,01,127,0217.00,00004085,009.99,00062500,091.89,00001315,00001936,01127021700
1147,13820,01,127,0203.00,00007049,011.52,00062500,102.07,00002090,00002740,01127020300
1148,13820,01,127,0218.00,00003709,007.52,00062500,065.53,00000922,00001625,01127021800
1149,13820,01,127,0219.00,00002493,005.01,00062500,068.59,00000695,00001059,01127021900
1150,13820,01,127,0201.00,00003739,028.43,00062500,064.39,00001004,00001793,01127020100
1151,13820,01,127,0212.00,00003445,002.82,00062500,070.95,00001098,00001486,01127021200
1152,13820,01,127,0207.00,00003092,003.98,00062500,078.21,00001035,00001358,01127020700
1153,13820,01,127,0213.00,00003557,006.18,00062500,065.85,00001074,00001720,01127021300
1154,13820,01,127,0215.00,00003456,011.43,00062500,080.78,00000994,00001585,01127021500
1155,13820,01,127,0208.00,00005613,006.68,00062500,078.57,00001674,00002803,01127020800
1156,13820,01,127,0204.00,00002306,035.21,00062500,067.69,00000627,00001187,01127020400
1157,13820,01,127,0216.00,00001484,011.93,00062500,087.09,00000490,00000889,01127021600
1158,13820,01,127,0202.00,00004304,011.25,00062500,112.41,00001301,00001934,01127020200
1159,NA,01,129,0442.00,00004589,068.86,00046300,068.14,00001273,00001968,01129044200
1160,NA,01,129,0443.00,00002543,019.15,00046300,112.90,00000743,00001200,01129044300
1161,NA,01,129,0441.00,00003353,026.93,00046300,128.36,00001083,00001618,01129044100
1162,NA,01,129,0439.00,00002775,022.52,00046300,105.54,00001072,00001491,01129043900
1163,NA,01,129,0440.00,00004321,022.01,00046300,134.69,00001366,00001954,01129044000
1164,NA,01,131,0347.00,00001308,092.28,00046300,056.25,00000411,00000811,01131034700
1165,NA,01,131,0351.00,00003789,071.42,00046300,069.09,00000816,00001518,01131035100
1166,NA,01,131,0348.00,00004533,068.03,00046300,053.79,00001159,00002237,01131034800
1167,NA,01,131,0352.00,00002040,076.62,00046300,099.28,00000479,00001146,01131035200
1168,NA,01,133,9655.02,00002871,002.86,00046300,083.86,00000664,00001859,01133965502
1169,NA,01,133,9655.01,00002393,002.97,00046300,090.37,00000725,00000991,01133965501
1170,NA,01,133,9659.00,00002158,004.45,00046300,084.29,00000594,00001087,01133965900
1171,NA,01,133,9655.03,00002620,002.06,00046300,111.48,00000986,00002157,01133965503
1172,NA,01,133,9658.00,00004432,010.04,00046300,086.51,00000944,00002126,01133965800
1173,NA,01,133,9657.00,00004595,006.70,00046300,120.06,00001312,00001984,01133965700
1174,NA,01,133,9656.00,00005415,003.53,00046300,088.69,00001767,00002782,01133965600